celery
selenium
multiprocessing_logging
pandas
requests
polyglot
icu
pyicu==2.3.1
pycld2
numpy
pyvirtualdisplay
tld
urlparse
sklearn
scikit-learn==0.23.1
unidecode
matplotlib
tqdm
stop-words
spacy_udpipe
hdbscan
beautifultable
readchar